<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS</title>
</head>
<body>
    <H2>Rechteck</H2>
    <p>Breite: <%= breite %></p>
    <p>Länge: <%= laenge %></p>

    <H3>Schüler</H3>
    <p>Geschlecht: <%= geschlecht %></p>
    <p>Alter: <%= alter %></p>

    <H4>Fußballer</H4>
    <p>Vorname: <%= vorname %></p>
    <p>Mannschaft: <%= mannschaft %></p>

</body>
</html>